#!/usr/bin/env python
#导包
from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator , double_t, int_t, str_t ,bool_t
PACKAGE="dynamic_tutorials"
#创建生成器
gen = ParameterGenerator()
# add(name, type, level,description,default,min,max)
gen.add("int_param", int_t , 0 , "整形参数" , 50,0,100)
gen.add("double_param", double_t , 0 , "浮点参数",1.57,0,3.14)
gen.add("string_param", str_t,0,"字符串参数","hello world")
gen.add("bool_param",bool_t,0,"bool参数",True)

many_enum = gen.enum([gen.const("small", int_t, 0 ,"a small size"),
                      gen.const("medium",int_t, 1 ,"a medium size"),
                      gen.const("big",   int_t, 2 ,"a big size")
                     ], "a car size set")
gen.add("list_param",int_t,0,0,2,edit_method=many_enum)

#生成中间文件并退出   第二个参数表示运行时的节点名 第三个参数是生成文件使用的前缀
exit(gen.generate(PACKAGE,"dynamic_tutorials","tutorials"))
